<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fun.ticsmyc.mapper.AreaStatMapper">

    <select id="selProvince" resultType="AreaStat">
        select * from province where provinceName=#{0}
    </select>

    <insert id="addProvince">
        insert into
        province(provinceName,provinceShortName,confirmedCount,suspectedCount,curedCount,deadCount,`comment`)
        values
        (#{provinceName},#{provinceShortName},#{confirmedCount},#{suspectedCount},#{curedCount},#{deadCount},#{comment})
    </insert>

    <update id="updateProvince">
        UPDATE province SET
        confirmedCount=#{confirmedCount},suspectedCount=#{suspectedCount},curedCount=#{curedCount},
        deadCount=#{deadCount},comment=#{comment}
        WHERE
        provinceName=#{provinceName}
    </update>


    <select id="selCity" resultType="fun.ticsmyc.pojo.AreaStat$CitiesBean">
        select * from city where cityName=#{0}
    </select>
    <insert id="addCity">
        insert into city(cityName,confirmedCount,suspectedCount,curedCount,deadCount)
        values
        (#{cityName},#{confirmedCount},#{suspectedCount},#{curedCount},#{deadCount})
    </insert>
    <update id="updateCity">
        update city SET
        confirmedCount=#{confirmedCount},suspectedCount=#{suspectedCount},curedCount=#{curedCount},deadCount=#{deadCount}
        WHERE
        cityName=#{cityName}
    </update>
</mapper>